/* Global */

body {margin-left:10%;
    margin-right:10%;
    background-color: #ffffff;
    -webkit-text-size-adjust: 100%;
    }

h1 { 
    /* text-align: center; */
    text-align: justify;
    font-family: Helvetica, sans-serif;
    color:  #200b50;
    font-size: 40px;
    /* text-decoration: bold; */
}



h2 {text-align: justify;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    color:  #200b50;
    font-size: 28px;

}

h3 { text-align: justify;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    color:  #200b50;
    font-size: 20px;
}


h4 { text-align: justify;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    color:  #200b50;
    font-size: 30px;
    text-decoration: bold;
}

h5 { text-align: left;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    color:  #200b50;
    font-size: 18px;
}

td {
	color: #021429;
	list-style-position: outside;
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
	font-size: 15px;
	}

ct {
    color: #021429;
    list-style-position: outside;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; ;
    font-size: 13px;
    }

a:link {
    text-decoration: none;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; ;
    color:  #1a1a1a;
    font-size: inherit;
  }

a:hover {
    text-decoration:none;
	  font-size: inherit;
    color: #00279b;
}

hr {
    border: 2px solid #000080;
    margin-bottom: 10px;
  }

p{
    margin:0px;
}

/* Class */

.bodytxt{
    	color: #000000;
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
	font-size: inherit;
	vertical-align: top;
	position: inherit;
	/* font-weight: lighter; */
	}


.notbold{
    font-weight:normal
}​
